<div class="container">
    <img class="image1" src="https://buffetoblog.files.wordpress.com/2010/09/big-burger.jpg" width="200px" height="200px" alt="Burger">
    
    <h1>Eat-Da-Burger!</h1>

<h2>Burgers Available to Eat</h2>
            <div class="row">
              {{#each burgers}}
                {{#unless this.devoured}}
                <div>
                    <pre>{{this.id}}. {{this.burger_name}}
                    </pre>
                        <!-- {{this.Date}} -->
                </div>
                <div>
                    <form class="devour-form button-size">
                        <input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
                        <button type="submit" class="btn btn-default">Devour it!</button>
                    </form>
                </div>
                {{/unless}}
              {{/each}}
            </div>
        
       
    </div>
</div>


<h2>Burgers Eaten!</h2>

<ul>
   <div>
              {{#each burgers}}
                {{#if this.devoured}}
                    <input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
                {{/if}}
              {{/each}}
        </div>
</ul>


    <form>
        <form action="/burgers/create" method="POST">
                <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
                <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
            </form>
            <p>Enter a burger you want to eat, then click the "Submit" button!</p>
    </form>



    
    
    
    
    
    
    
    




















</div>